.AppHeader {
    background-color: #3b7fd9;
    height: 7em;
    margin-bottom: 15px;
    box-shadow: 0px 0px 3px #222222;
}

.Logo {
	padding: 0.2em 0 0 0.5em;
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
}

.Ded{
	margin-left: 1em;
}

.Enter a{
	margin-left: 50em;
	color: white;
}


