.Poll {
    margin: 0 5em -5px 5em;
    padding: 5px;
    background-color: #f0f8ff;
    box-shadow:0px 3px 5px 0px rgba(50, 50, 50, 0.40);
    margin-bottom: 14px;
    border-bottom: 3px solid #3b7fd9;
    border-radius: 8px;
}

.Poll * {
    display: inline-block;
}

.poll-name {
    margin-top: 1.1em;
    width: 80%;
    font-size: 2em;
    color: #0053a7;
    vertical-align: top;
}

.poll-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.score-counter {
    margin-right: 10px;
    text-align: center;
    font-size: 2em;
}

.up-arrow, .down-arrow {
    color: #999999;
}
