.Poll {
    margin: 0 15px -5px;
    padding: 5px;
}

.Poll * {
    display: inline-block;
}

.poll-name {
    margin-top: 1.1em;
    width: 80%;
    font-size: 2em;
    color: #0053a7;
    vertical-align: top;
}

.poll-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.score-counter {
    margin-right: 10px;
    text-align: center;
    font-size: 2em;
}

.up-arrow, .down-arrow {
    color: #999999;
}
