.Poll {
    margin: 0 15px -5px;
    padding: 5px;
    background: #dddddd;
}

.Poll * {
    display: inline-block;
}

.poll-name {
    color: #0053a7;
}

.poll-name:hover {
    text-decoration: underline;
}

.score-counter {
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}

.up-arrow, .down-arrow {
    color: #999999;
}
